* {
    border-radius: 0 !important;
}

a, .bs-docs-nav .navbar-brand, .bs-docs-nav .navbar-nav > li > a,
.bs-docs-nav .navbar-nav > .active > a {
    color: #058ea1;
}

#bs-navbar li.active a {
    background: #058ea1;
    color: #FFF;
}

.bs-docs-header {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #058ea1;
}

.bs-docs-header h1 {
    margin: 0;
}

.command > pre {
    margin-bottom: 0;
    border: none;
}

.command > pre:first-child {
    background-color: #666;
    color: #FFF;
}
