* {
    border-radius: 0 !important;
}

a, .bs-docs-nav .navbar-brand, .bs-docs-nav .navbar-nav > li > a, .bs-docs-nav .navbar-nav > .active > a {
    color: #058ea1;
}

#bs-navbar li.active a, .navbar-brand.active {
    background: #058ea1;
    color: #FFF;
}

.navbar-nav a {
    text-transform: uppercase;
}

.bs-docs-header {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #058ea1;
    text-transform: lowercase;
}

.bs-docs-header h1 {
    margin: 0;
}

.tab-content > .tab-pane {
    padding: 20px 0;
}

.panel-title.with-button {
    line-height: 35px;
}

.command > pre {
    margin-bottom: 0;
    border: none;
}

.bg-dark {
    background-color: #666;
    color: #FFF;
}

@media (max-width: 479px) {
    .xxs-block {
        float: none !important;
        display: block !important;
        width: 100%;
    }
}