* {
    border-radius: 0 !important;
}

.bs-docs-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.bs-docs-header h1 {
    margin: 0;
}

.command > pre {
    margin-bottom: 0;
    border: none;
}

.command > pre:first-child {
    background-color: #666;
    color: #FFF;
}
